#outer-1{
	background-color:whitesmoke;
	width:400px;
	height:600px;
	text-align:center;
}
img{
     margin:20px;
	width:300px;
	height:300px;
	
}
h1{
	text-align:center;
}
button{
	background-color:red;
	border:none;
	color:white;
	border-radius:5px;
	font-size:20px;
}

